docs/n8n-adventure-sv-whatsapp.workflow.json
{
  "name": "Adventure-sv WhatsApp Itinerary",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "adventure-sv-whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1",
      "name": "WhatsApp Inbound Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "adventure-sv-whatsapp"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\nconst value = body.entry?.[0]?.changes?.[0]?.value;\nconst message = body.message || body.text || body.body?.message || body.body?.text || body.messages?.[0]?.text?.body || value?.messages?.[0]?.text?.body || '';\nconst phone = body.phone || body.from || body.body?.phone || body.messages?.[0]?.from || value?.messages?.[0]?.from || null;\nreturn [{ json: { message, phone, raw: body } }];"
      },
      "id": "2",
      "name": "Normalize WhatsApp Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{($env.ADVENTURE_SV_API_URL || 'http://host.docker.internal:4000') + '/api/webhooks/n8n/whatsapp'}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify({ message: $json.message, phone: $json.phone })}}",
        "options": {}
      },
      "id": "3",
      "name": "Call Adventure-sv Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "4",
      "name": "Return Backend Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1040, 300]
    }
  ],
  "connections": {
    "WhatsApp Inbound Webhook": {
      "main": [
        [
          {
            "node": "Normalize WhatsApp Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize WhatsApp Payload": {
      "main": [
        [
          {
            "node": "Call Adventure-sv Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Adventure-sv Backend": {
      "main": [
        [
          {
            "node": "Return Backend Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "active": false,
  "versionId": "adventure-sv-whatsapp-v1"
}
